<div class="container">
  <header class="page-header">
    <h1>Kundendeckblatt</h1>
  </header>

  <div class="row">
    <div class="col-md-8">
      {{> contact_history }}
    </div>

    <div class="col-md-4">
      {{> contact_network }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{> portfolio_overview }}
    </div>
  </div>

</div>
