<div class="container">

  <div class="branch-product-overview">

    <header class="page-header">
      <h1>
        <i class="icon-car-2"></i> KFZ <small>Produktauswahl</small>
      </h1>
    </header>

    <div>
      <p>Um ein Angebot oder einen Antrag zu erstellen, wählen Sie bitte das gewünschte Produkt aus.</p>
      <div class="product-selector expandable-grid">

        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>PKW</span>
            <span class="product-selector-item-info"></span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Moped</span>
            <span class="product-selector-item-info"></span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Krad</span>
            <span class="product-selector-item-info">Kraftfahrtrad</span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Trike und Quad</span>
            <span class="product-selector-item-info"></span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Kleine LKW</span>
            <span class="product-selector-item-info">bis 3,5 Tonnen Gesamtmasse</span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Große LKW</span>
            <span class="product-selector-item-info">über 3,5 Tonnen Gesamtmasse</span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Anhänger</span>
            <span class="product-selector-item-info"></span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Landwirtschaftl. Zugmaschine</span>
            <span class="product-selector-item-info"></span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Zugmaschine</span>
            <span class="product-selector-item-info"></span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Wohnmobil</span>
            <span class="product-selector-item-info"></span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Wohnwagen</span>
            <span class="product-selector-item-info"></span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Oldtimer</span>
            <span class="product-selector-item-info"></span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>


        <div class="product-selector-item expandable-grid-item">
          <a href="{{ partner._links.offers.href }}/new" data-pjax="active" class="product-selector-item-link">
            <span>Gewerbe FuhrparkPlus</span>
            <span class="product-selector-item-info"></span>
          </a>
          <a href="#" class="product-selector-help-link expansion-trigger">
            <i class="icon-question"></i>
          </a>
          <div class="product-selector-help">
            <h3>PKW</h3>
            <p>
            Eine gute Versicherung des eigenen Autos schützt im chaotischen
            Straßenverkehr vor unnachtsamen Teilnehmern - nicht nur in
            Deutschland, sondern auch in Italien.
            </p>
            <p>
            Weitere Informationen zum Auslandsschutz finden Sie in unserer
            <a href="#">Broschüre</a> sowie in den
            <a href="#">Vertragsbedingungen</a>.
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

