<div class="container">
  <div class="row">
    <header class="page-header">
      <h1 class="scene-header-headline">Hilfe</h1>
    </header>
  </div>

  <div class="row help-description">
    Bitte denken Sie sich einen Hilfetext aus.
  </div>

</div>
