<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                    aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
                <h4 class="modal-title">Tastaturkürzel</h4>
            </div>
            <div class="modal-body">
                <p>
                    Dieser Hilfe-Dialog kann jederzeit mittels
                    <kbd class="help-key"><span>?</span></kbd> aufgerufen
                    werden. Zudem können Tastaturkürzel für die aktuelle Seite
                    über <kbd class="help-key"><span>!</span></kbd> angezeigt
                    werden.
                </p>
                <p>
                    Grundsätzlich können alle Links, Formularfelder und
                    Schaltflächen mittels
                    <kbd class="help-key"><span>Tab</span></kbd> durchlaufen und
                    dann mittels <kbd class="help-key"><span>Enter</span></kbd>
                    angewählt werden.
                </p>
            </div>
        </div>
    </div>
</div>
