<div class="container container-main-content scene">

  <div class="row">
    <header class="page-header">
      <h1 class="scene-header-headline">Berufsuche</h1>
    </header>
  </div>

  <form class="form-horizontal scene-form" role="form" action="jobs/results" method="get">

    <div class="row">
      <div class="col-md-12">
          <fieldset class="scene-fieldset">
            <div class="form-group">
              <label for="query" class="control-label">Suchbegriff</label>
              <div class="fields">
                <input type="text" id="query" name="query" class="form-control">
              </div>
            </div>
          </fieldset>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-group">
          <input type="submit" class="btn btn-primary" value="Suchen">
        </div>
      </div>
    </div>

  </form>
</div>
